.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.new {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title :hover {
  text-decoration: underline !important;
}
